<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BlogLablesMapper" >
  <resultMap id="BaseResultMap" type="com.space.entity.BlogLables" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lables_name" property="lablesName" jdbcType="VARCHAR" />
    <result column="lables_description" property="lablesDescription" jdbcType="VARCHAR" />
    <result column="lables_num_hot" property="lablesNumHot" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lables_name, lables_description, lables_num_hot
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.space.entity.BlogLablesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_lables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 排序 =============-->
  <select id="selectByorderByClause" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from blog_lables
    order by ${orderByClause}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_lables
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_lables
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.space.entity.BlogLablesExample" >
    delete from blog_lables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
   <insert id="insert" parameterType="com.space.entity.BlogLables" >
    insert into blog_lables (id, lables_name, lables_description, 
      lables_num_hot)
    values (#{id,jdbcType=INTEGER}, #{lablesName,jdbcType=VARCHAR}, #{lablesDescription,jdbcType=VARCHAR}, 
      #{lablesNumHot,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.space.entity.BlogLables" >
    insert into blog_lables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lablesName != null" >
        lables_name,
      </if>
      <if test="lablesDescription != null" >
        lables_description,
      </if>
      <if test="lablesNumHot != null" >
        lables_num_hot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lablesName != null" >
        #{lablesName,jdbcType=VARCHAR},
      </if>
      <if test="lablesDescription != null" >
        #{lablesDescription,jdbcType=VARCHAR},
      </if>
      <if test="lablesNumHot != null" >
        #{lablesNumHot,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.space.entity.BlogLablesExample" resultType="java.lang.Integer" >
    select count(*) from blog_lables
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blog_lables
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lablesName != null" >
        lables_name = #{record.lablesName,jdbcType=VARCHAR},
      </if>
      <if test="record.lablesDescription != null" >
        lables_description = #{record.lablesDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.lablesNumHot != null" >
        lables_num_hot = #{record.lablesNumHot,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blog_lables
    set id = #{record.id,jdbcType=INTEGER},
      lables_name = #{record.lablesName,jdbcType=VARCHAR},
      lables_description = #{record.lablesDescription,jdbcType=VARCHAR},
      lables_num_hot = #{record.lablesNumHot,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.space.entity.BlogLables" >
    update blog_lables
    <set >
      <if test="lablesName != null" >
        lables_name = #{lablesName,jdbcType=VARCHAR},
      </if>
      <if test="lablesDescription != null" >
        lables_description = #{lablesDescription,jdbcType=VARCHAR},
      </if>
      <if test="lablesNumHot != null" >
        lables_num_hot = #{lablesNumHot,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.space.entity.BlogLables" >
    update blog_lables
    set lables_name = #{lablesName,jdbcType=VARCHAR},
      lables_description = #{lablesDescription,jdbcType=VARCHAR},
      lables_num_hot = #{lablesNumHot,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>